version: "0.1"

services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: mindow_backend
    ports:
      - "8000:8000"
    volumes:
      - ./:/app
    env_file:
      - .env
    depends_on:
      - db

  db:
    image: postgres:18-alpine
    container_name: mindow_db
    env_file:
      - ./postgres_env/.env
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    
  redis:
    image: "redis:8.4-alpine"
    container_name: mindow_redis
    ports:
      - "6379:6379"
    volumes:
      - redisdata:/data
    command: ["redis-server", "--appendonly", "yes"]


  redisinsight:
    image: redis/redisinsight:latest
    container_name: redis_insight
    ports:
      - "5540:5540"
    depends_on:
      - redis

volumes:
  pgdata:
  redisdata:

